.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
html,
body,
header,
.view {
    height: 100%;
}
.navbar {
    background-color: #388E3C;
}

.nav-link{
    font-family: montserrat;
   
}
.navbar-nav .mr-auto{
    margin-left: 90px;
}
p{
    font-style: montserrat;
}
h6{
    font-style: Barlow;
}
.page-footer .font-small .mdb-color .pt-4{
    background-color: #388E3C;
}