.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
html,
body,
header,
.view {
    height: 100%;
}
.navbar {
    background-color: #184d47;
}

.nav-link{
    font-family: montserrat;
    font-weight: 500;
    
   
}
.nav-link a{
    font-family: montserrat;
    font-weight: 500;
    color: #eebb4d;
   
}
.navbar-nav .mr-auto{
    margin-left: 90px;
}
p{
    font-style: montserrat;
}
h6{
    font-style: Barlow;
}
.page-footer .font-small .mdb-color .pt-4{
    background-color: #388E3C;
}
@media screen and (min-width: 375px){
    .page-footer .font-small {
        margin-top: 35px;
    
    }
}
